.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 32px;
  border-bottom: 1px solid #b9b9b9;

  .navbar-links {
    a {
      text-decoration: none;
      color: black;
      font-weight: 600;

      &:hover {
        color: #4e4e4e;
      }
    }
  }
}
